<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body>
    <!-- En bloque  -->
    <h1>Título</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
      necessitatibus, quae, ea fugiat autem tempora optio minus atque neque at
      cupiditate molestiae corrupti similique cum esse doloremque ratione nobis
      fuga!
    </p>

    <!-- En linea -->
    <span>Hola</span>
    <img
      src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/pokemon-mas-populares-gengar-1561474289.jpg?crop=1.00xw:0.892xh;0,0.0431xh&resize=480:*"
      alt="Pokemon">

    <a href=""></a>
    <style>
        body{
            background-color: pink;
        }
    </style>

    <a href="templates/repaso.html">Repaso</a>
    <li></li>
    
    <a href=""></a>

  <script src "assets/js/main"></script>

  </body>
</html>
