<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a
    href="https://docs.google.com/presentation/d/1pJpNhdXJ3FTa9UWLAQzcpUV14VdXT3996lUFxROUPgw/edit#slide=id.g123a9d8f43b_0_58"
    target="blank"><img src="assets/Lámina Explosión.jpg"alt="lamina explosión"></a>

    <h1>ANA LAURA VÁZQUEZ SOLACHE</h1>
    <p>
      I'm an architecture student at UNAM, currently studying in the last year
      of my career. This one helped me improve my skills in visual and graphic
      design, such as the technical construction process, interaction with the
      environment, and how people react through conceptual and physical space.
      Finding and creating relations and logical organization through space.
      Lately I figured out my interest in Technology, and it's a skill I want to
      improve, taking courses in HTML, CSS and JavaScript. I'm an excellent
      learner, and a dedicated student. With experience in working for the
      government through the last 3 years, I've been looking for a different
      path, finding in technology something I'm really passionate about.
    </p>

    <h2>ACTIVITIES & HOBBIES</h2>
    <ul>
        
        <li><a href="Architecture.html">Architecture</a></li>
        <li>Painting</li>
        <li>Basquetball</li>
        <li>Photography</li>
    </ul>


    <h3>MORE INFORMATION</h3>
    <a
    href="https://docs.google.com/presentation/d/1pJpNhdXJ3FTa9UWLAQzcpUV14VdXT3996lUFxROUPgw/edit#slide=id.g123a9d8f43b_0_58"
    target="blank">CV</a>

    
    
  </body>
</html>
