.padre{
    width: 80%;
    height: 60vh;
    border:1px solid red;
    margin:0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

/*
row 
justify content los acomoda horizontalmente

 */

.hijo{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    
/*     display: none; // tenemos los elementos per no se muestran */
}

.div1{
     background-color: aqua;
}

.div2{
    background-color: rgb(233, 147, 176);
}

.div3{
    background-color: orange;
}